<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <div class="logo">
          <ion-icon name="rocket-outline"></ion-icon>
          <span>Angular Budget</span>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none">
      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" button>
          <ion-icon slot="start" name="grid-outline"></ion-icon>
          <ion-label>Dashboard</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/budget" routerLinkActive="active" button>
          <ion-icon slot="start" name="wallet-outline"></ion-icon>
          <ion-label>Budget Planning</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/transactions" routerLinkActive="active" button>
          <ion-icon slot="start" name="swap-horizontal-outline"></ion-icon>
          <ion-label>Transactions</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/reports" routerLinkActive="active" button>
          <ion-icon slot="start" name="pie-chart-outline"></ion-icon>
          <ion-label>Reports</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/settings" routerLinkActive="active" button>
          <ion-icon slot="start" name="settings-outline"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
